 * {box-sizing: border-box;}

    html {background-color: white;
}

h1 {margin-bottom: 15px;

  text-align: center;

  padding-top: 5%;

  padding-bottom: 5%;

        }
        /*sections styles*/

section {

            border: 2px solid black; 

            width: 30%;

            float: left;

            margin-left:8px;

            margin-right:8px;

            position: relative;

            padding: 10px;

            padding-top: 60px;

            color: black;

            background-color: #EEEEEE;
}

p{text-align:center;

 }

/*title styles*/

.title-container{ 
  /*background-color: rgb(109, 109, 109);*/

          border: 2px solid black;

            position: absolute;

            width: 35%;

            height: 30%;

            top: 1px;

            /*bottom: 0;*/

            right: 1px;

            display: flex;

            align-items: center;

            justify-content: center;}


  .title-container p.title {

            font-weight: bold;

            margin: 0; /* Remove default margin */}

/* Individual menu item styles */

 #p1 { background-color: #ffb6c1;

          text-align: center;

            width: 100%;

            height: 100%;

            padding: 15px;
}
     


#p2 { background-color: #800000;
  
    width: 100%;

    height: 100%;

    padding: 15px;

    text-align: center;
  }

#p3 { background-color: #FFE2A7;
  
    width: 100%;

            height: 100%;

            padding: 15px;

          }

  /*Media QUeries*/
  /*Desktop*/

@media{min width:992px}

  /*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
   section.first,

            section.second {

                width: 48%;}


            section.third {

                width: 98%;}
              }

    /*Mobile*/

 @media (max-width: 768px) {

            section {

                width: 100%;

            }

        
